/* Stylesheet specific to the swapping of columns in thingstodo.php */
aside {
  background-color: #EEDFAF;
}

aside h3 {
  font-family: 'Francois One', sans-serif;
  color: #61381D;
  text-align: center;
}

aside ul {
  padding-left: 15%;
}

aside li {
  font-family: 'Lato', sans-serif;
  color: #BB6F39;
}

aside p {
  font-family: 'Lato', sans-serif;
  color: #BB6F39;
}

.thingstodo_main_left_pic {
  float: left;
  margin-bottom: 2%;
}

.thingstodo_main_right_pic {
  float: left;
  margin-bottom: 2%;
}

/* rearranging the columns */
[class*="col-"] {
  position: relative;
}

.col-push-1 {
  left: 25%;
}

.col-pull-3 {
  left: -75%;
  background-color: #EEDFAF;
}

/* media queries */
/* Desktop Screen Sizes */
/* Pixel Range: >= 1000px; */
@media only screen and (min-width: 1050px) {
  aside h3 {
    font-size: 1.5em;
  }

  aside li {
    font-size: 0.9em;
    line-height: 1.5em;
  }
}
/* Tablet Screen Sizes */
/* Pixel Range: >= 768px; */
@media only screen and (min-width: 768px) and (max-width: 1049px) {
  aside h3 {
    font-size: 1.25em;
  }

  aside li {
    font-size: 0.75em;
    line-height: 1.4em;
  }
}
/* Mobile Landscape Screen Sizes */
/* pixel range: 480-767px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  aside h3 {
    font-size: 1em;
  }

  aside li {
    font-size: 0.6em;
    line-height: 1.3em;
  }
}
/* Mobile Portrait Screen Sizes */
/* pixel range: <480px */
@media only screen and (max-width: 479px) {
  aside h3 {
    font-size: 1.5em;
  }

  aside li {
    font-size: 0.9em;
    line-height: 1.5em;
  }

  /* Keep the columns in the original order in the
     mobile portrait mode screen size */
  .col-push-1,
  .col-pull-3 {
    left: 0;
  }

  .thingstodo_main_left_pic, .thingstodo_main_right_pic {
    width: 100%;
  }
}
/* Through some testing, noticed that the images looked stragnge at the boundary
   conditions, added a few more media queries specifically for these images.
   By doing this, able to keep the image as large as possible for a given screen
   width. */
@media only screen and (min-width: 1200px) {
  .thingstodo_main_left_pic > img {
    margin-left: 20%;
    margin-right: 2%;
    width: 90%;
    max-width: 250px;
  }

  .thingstodo_main_right_pic > img {
    margin-left: 20%;
    margin-right: 2%;
    width: 90%;
    max-width: 250px;
  }
}
@media only screen and (min-width: 1050px) and (max-width: 1199px) {
  .thingstodo_main_left_pic > img {
    margin-left: 20%;
    margin-right: 2%;
    width: 90%;
    max-width: 215px;
  }

  .thingstodo_main_right_pic > img {
    margin-left: 20%;
    margin-right: 2%;
    width: 90%;
    max-width: 215px;
  }
}
@media only screen and (min-width: 805px) and (max-width: 1049px) {
  .thingstodo_main_left_pic > img {
    width: 90%;
    max-width: 180px;
    margin-left: 20%;
    margin-right: 5%;
  }

  .thingstodo_main_right_pic > img {
    width: 90%;
    max-width: 180px;
    margin-left: 20%;
    margin-right: 5%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 804px) {
  .thingstodo_main_left_pic > img {
    width: 90%;
    max-width: 170px;
    margin-left: 15%;
    margin-right: 5%;
  }

  .thingstodo_main_right_pic > img {
    width: 90%;
    max-width: 170px;
    margin-left: 15%;
    margin-right: 5%;
  }
}
@media only screen and (min-width: 590px) and (max-width: 767px) {
  .thingstodo_main_left_pic > img {
    width: 90%;
    max-width: 130px;
    margin-left: 15%;
    margin-right: 5%;
  }

  .thingstodo_main_right_pic > img {
    width: 90%;
    max-width: 130px;
    margin-left: 15%;
    margin-right: 5%;
  }
}
@media only screen and (min-width: 512px) and (max-width: 589px) {
  .thingstodo_main_left_pic > img {
    width: 90%;
    max-width: 120px;
    margin-left: 10%;
    margin-right: 5%;
  }

  .thingstodo_main_right_pic > img {
    width: 90%;
    max-width: 120px;
    margin-left: 10%;
    margin-right: 5%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 511px) {
  .thingstodo_main_left_pic > img {
    width: 90%;
    max-width: 110px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .thingstodo_main_right_pic > img {
    width: 90%;
    max-width: 110px;
    margin-left: 5%;
    margin-right: 5%;
  }
}
