@mixin transition($transition-variable, $transition-time, $transition-timing-function) {
	-webkit-transition:$transition-variable $transition-time $transition-timing-function;
	-moz-transition:$transition-variable $transition-time $transition-timing-function;
	transition:$transition-variable $transition-time $transition-timing-function;          
}

@mixin thingstodo_aside($h3-font-size, $li-font-size, $li-line-height) {
	aside {
		h3 {
			font-size: $h3-font-size;
		}
		li {
			font-size: $li-font-size;
			line-height: $li-line-height;
		}
	}
}