// ThingsToDo Variables
$thingstodo-aside-heading-font-color: #61381D;
$thingstodo-aside-background-color: #EEDFAF;
$thingstodo-aside-padding-left: 15%;

// Adjust h3 font size for the various media queries
$thingstodo-desktop-width-h3-font-size: 1.5em;
$thingstodo-tablet-width-h3-font-size: 1.25em;
$thingstodo-phone-landscape-width-h3-font-size: 1em;
$thingstodo-phone-portrait-width-h3-font-size: 1.5em;

// Adjust li font size for the various media queries
$thingstodo-desktop-width-li-font-size: 0.9em;
$thingstodo-tablet-width-li-font-size: 0.75em;
$thingstodo-phone-landscape-width-li-font-size: 0.6em;
$thingstodo-phone-portrait-width-li-font-size: 0.9em;

// Adjust li font size for the various media queries
$thingstodo-desktop-width-li-line-height: 1.5em;
$thingstodo-tablet-width-li-line-height: 1.4em;
$thingstodo-phone-landscape-width-li-line-height: 1.3em;
$thingstodo-phone-portrait-width-li-line-height: 1.5em;

$thingstodo-desktop-width-breakpoint1-main-left-pic-margin-left: 20%;
$thingstodo-desktop-width-main-left-pic-margin-left: 20%;
$thingstodo-tablet-width-breakpoint1-main-left-pic-margin-left: 20%;
$thingstodo-desktop-width-main-left-pic-margin-left: 20%;
$thingstodo-tablet-width-main-left-pic-margin-left: 104.545;
$thingstodo-phone-width-breakpoint1-main-left-pic-margin-left: 100;
$thingstodo-phone-width-breakpoint2-main-left-pic-margin-left: 100;
$thingstodo-phone-landscape-width-main-left-pic-margin-left: 96;