// Weather Wrapper Variables
$weather-wrapper-background-color: #AD7623;
$weather-outside-wrapper-background-color: #EEDFAF;
$weather-wrapper-paragraph-text: #FFF;
$weather-outside-wrapper-heading-text: #61381D;
$weather-strong-color: #ED8F00;
$weather-wrapper-width: 90%;
$weather-wrapper-padding-left: 2%;
$weather-wrapper-padding-right: 1%;
$weather-wrapper-padding-top: 1%;