// Weather Wrapper Variables
$weather-wrapper-background-color: #AD7623;
$weather-outside-wrapper-background-color: #EEDFAF;
$weather-wrapper-paragraph-text: #FFF;
$weather-outside-wrapper-heading-text: #61381D;
$weather-strong-color: #ED8F00;