/* Stylesheet specific to the swapping of columns in thingstodo.php */

@import "variables";
@import "weather_variables";
@import "thingstodo_mixins";

// Nesting the aside tag
aside {
	background-color: $thingstodo-aside-background-color;

	h3 {
		font-family: 'Francois One', sans-serif;
		color: $thingstodo-aside-heading-font-color;
		text-align: center;
	}

	ul {
		padding-left: 15%;
	}

	li {
		font-family: 'Lato', sans-serif;
		color: $primary-light-text-color;
	}

	p {
		font-family: 'Lato', sans-serif;
		color: $primary-light-text-color;
	}
}

.thingstodo_main_left_pic {
	float: left;
	margin-bottom: 2%;
}
.thingstodo_main_right_pic {
	float: left;
	margin-bottom: 2%;
}

/* rearranging the columns */
[class*="col-"] {
	position: relative;
}
.col-push-1 {
	left: 25%;
}
.col-pull-3 {
	left: -75%;
	background-color: $weather-outside-wrapper-background-color;	
}

/* media queries */

/* Desktop Screen Sizes */
/* Pixel Range: >= 1000px; */
@media only screen and (min-width: $min-desktop-width) {

	// Using thingstodo_aside() mixin to set h3 and li parameters
	@include thingstodo_aside(1.5em, 0.9em, 1.5em);
}

/* Tablet Screen Sizes */
/* Pixel Range: >= 768px; */
@media only screen and (min-width: $min-tablet-width) and (max-width: $min-desktop-width - 1) {

	// Using thingstodo_aside() mixin to set h3 and li parameters
	@include thingstodo_aside(1.25em, 0.75em, 1.4em);
}

/* Mobile Landscape Screen Sizes */
/* pixel range: 480-767px */
@media only screen and (min-width: $min-phone-landscape-width) and (max-width: $min-tablet-width - 1)  {	

	// Using thingstodo_aside() mixin to set h3 and li parameters
	@include thingstodo_aside(1em, 0.6em, 1.3em);
}

/* Mobile Portrait Screen Sizes */
/* pixel range: <480px */	
@media only screen and (max-width: $min-phone-landscape-width - 1)  {

	// Using thingstodo_aside() mixin to set h3 and li parameters
	@include thingstodo_aside(1.5em, 0.9em, 1.5em);	

	/* Keep the columns in the original order in the
	   mobile portrait mode screen size */	
  	.col-push-1,
	.col-pull-3 {
		left: 0;
	}
	.thingstodo_main_left_pic, .thingstodo_main_right_pic {
		width: 100%;
	}	 
}


/* Through some testing, noticed that the images looked stragnge at the boundary
   conditions, added a few more media queries specifically for these images.
   By doing this, able to keep the image as large as possible for a given screen
   width. */

@media only screen and (min-width: $min-desktop-width-breakpoint1) {
	.thingstodo_main_left_pic > img {
		margin: {
			left: 20%;
			right: 2%;
		}
		width: 90%;
		max-width: 250px;
	}
	.thingstodo_main_right_pic > img {
		margin: {
			left: 20%;
			right: 2%;
		}
		width: 90%;
		max-width: 250px;
	}
}
@media only screen and (min-width: $min-desktop-width) and (max-width: $min-desktop-width-breakpoint1 - 1) {
	.thingstodo_main_left_pic > img {
		margin: {
			left: 20%;
			right: 2%;
		}
		width: 90%;
		max-width: 215px;
	}
	.thingstodo_main_right_pic > img {
		margin: {
			left: 20%;
			right: 2%;
		}
		width: 90%;
		max-width: 215px;
	}	
}
@media only screen and (min-width: $min-tablet-width-breakpoint1) and (max-width: $min-desktop-width - 1) {
	.thingstodo_main_left_pic > img {
		width: 90%;
		max-width: 180px;
		margin: {
			left: 20%;
			right: 5%;
		}
	}
	.thingstodo_main_right_pic > img {
		width: 90%;
		max-width: 180px;
		margin: {
			left: 20%;
			right: 5%;
		}
	}
}
@media only screen and (min-width: $min-tablet-width) and (max-width: $min-tablet-width-breakpoint1 - 1) {
	.thingstodo_main_left_pic > img {
		width: 90%;
		max-width: 170px;
		margin: {
			left: 15%;
			right: 5%;
		}
	}
	.thingstodo_main_right_pic > img {
		width: 90%;
		max-width: 170px;
		margin: {
			left: 15%;
			right: 5%;
		}
	}
}
@media only screen and (min-width: $min-phone-width-breakpoint1) and (max-width: $min-tablet-width - 1)  {	
	.thingstodo_main_left_pic > img {
		width: 90%;
		max-width: 130px;
		margin: {
			left: 15%;
			right: 5%;
		}
	}
	.thingstodo_main_right_pic > img {
		width: 90%;
		max-width: 130px;
		margin: {
			left: 15%;
			right: 5%;
		}
	}
}
@media only screen and (min-width: $min-phone-width-breakpoint2) and (max-width: $min-phone-width-breakpoint1 - 1)  {	
	.thingstodo_main_left_pic > img {
		width: 90%;
		max-width: 120px;
		margin: {
			left: 10%;
			right: 5%;
		}
	}
	.thingstodo_main_right_pic > img {
		width: 90%;
		max-width: 120px;
		margin: {
			left: 10%;
			right: 5%;
		}
	}
}
@media only screen and (min-width: $min-phone-landscape-width) and (max-width: $min-phone-width-breakpoint2 - 1)  {	
	.thingstodo_main_left_pic > img {
		width: 90%;
		max-width: 110px;
		margin: {
			left: 5%;
			right: 5%;
		}
	}
	.thingstodo_main_right_pic > img {
		width: 90%;
		max-width: 110px;
		margin: {
			left: 5%;
			right: 5%;
		}
	}
}