$primary-background-color: #EFECCA;
$secondary-background-color: #ED8F00;
$form-background-color: #F6F5E3;
$primary-light-text-color: #BB6F39;

// Media Query Width Variables
$min-desktop-width-breakpoint1: 1200px;
$min-desktop-width: 1050px;
$min-tablet-width-breakpoint1: 805px;
$min-tablet-width: 768px;
$min-phone-width-breakpoint1: 590px;
$min-phone-width-breakpoint2: 512px;
$min-phone-landscape-width: 480px;

// Form Specific Variables
$form-border-color: #CCC;
$form-border-color-hover: #AAA;
$form-background-color: #F6F5E3;
$form-input-background-color: #FFF;
$form-button-font-color: #FFF;
$form-button-background-color: #ED8F00;
$form-button-background-color-hover: #B37518;
$form-heading-font-color: #70482D;

// Weather Wrapper Variables
$weather-wrapper-background-color: #AD7623;
$weather-outside-wrapper-background-color: #EEDFAF;
$weather-wrapper-paragraph-text: #FFF;
$weather-outside-wrapper-heading-text: #61381D;
$weather-strong-color: #ED8F00;

// ThingsToDo Variables
$thingstodo-aside-heading-font-color: #61381D;
$thingstodo-aside-background-color: #EEDFAF;