/* This css file contains the stylings specific to the
   weather widget that shows up on the sidebar for most of
   the pages on this site*/

@import "variables";
@import "weather_variables";

.weather-wrapper {
	width: $weather-wrapper-width;
	padding: {
		left: $weather-wrapper-padding-left;
		right: $weather-wrapper-padding-right;
		top: $weather-wrapper-padding-top;
	}
	margin: 0 auto;
	color: white;
	background-color: $weather-wrapper-background-color;
	text-align: center;

	& + p {
		font-family: 'Lato', sans-serif;
		color: $weather-wrapper-paragraph-text;
	}
}

// Nesting for outside-w-wrapper
.outside-w-wrapper {

	background-color: $weather-outside-wrapper-background-color;
	text-align: center;

	h3 {
		font-family: 'Francois One', sans-serif;
		color: $weather-outside-wrapper-heading-text;
	}
	// Nesting with the sibling
	& + p {
		font-family: 'Lato', sans-serif;
		color: $primary-light-text-color;
	}
}

strong {
	color: $weather-strong-color;
}

.capitalize {
	text-transform: capitalize;
}

/* media queries */

/* Desktop Screen Sizes */
/* Pixel Range: >= 1000px; */
@media only screen and (min-width: $min-desktop-width) {
	// Nesting outside-w-wrapper
	.outside-w-wrapper {
		h3 {
			font-size: 1.5em;
		}
		p {
			font-size: 1em;
		}
	}
}

/* Tablet Screen Sizes */
/* Pixel Range: >= 768px; */
@media only screen and (min-width: $min-tablet-width) and (max-width: $min-desktop-width - 1) {
	// Nesting outside-w-wrapper
	.outside-w-wrapper {
		h3 {
			font-size: 1.25em;
		}
		p {
			font-size: 0.85em;
		}
	}
}

/* Mobile Landscape Screen Sizes */
/* pixel range: 480-767px */
@media only screen and 
	(min-width: $min-phone-landscape-width) and (max-width: $min-tablet-width - 1)  {
	// Nesting outside-w-wrapper
	.outside-w-wrapper {
		h3 {
			font-size: 1em;
		}
		p {
			font-size: 0.667em;
		}
	}	
}

/* Mobile Portrait Screen Sizes */
/* pixel range: <480px */	
@media only screen and (max-width: $min-phone-landscape-width - 1)  {
	.outside-w-wrapper {
		display: none;
	}
}